.DS_Store

Proposal/*.aux 
Proposal/*.bbl
Proposal/*.blg
Proposal/*.log
Proposal/*.out
Proposal/*.pdf
Proposal/*.synctex.gz

Project/datasets/*

Project/cyclegan/cycle_gan_model.py

Project/cyclegan/networks.py

Project/dataset